In [5]:
3+4

7

In [7]:
import pandas as pd

In [8]:
data = {
    "Name": [
        "Data Scientist",
        "Data Analyst",
        "Data Engineer",
        "Machine Learning Engineer",
        "Business Analyst",
        "Data Scientist",
        "Data Analyst",
        "Data Engineer",
        "Machine Learning Engineer",
        "Business Analyst",
    ],
    "Age": [25, 30, 35, 40, 45, 50, 55, 60, 65, 70],
    "City": [
        "New York",
        "Chicago",
        "San Francisco",
        "Los Angeles",
        "Seattle",
        "New York",
        "Chicago",
        "San Francisco",
        "Los Angeles",
        "Seattle",
    ],
}

In [10]:
df = pd.DataFrame(data)